# DATABASE_URL="file:./dev.db"

DATABASE_URL="postgresql://admin:1234@localhost:5432/mydb"
NEXT_PUBLIC_SUPABASE_URL=https://gxevxvkwjfdlvtonvpnh.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_BRbjnHfSeJVFWKv30bWGqQ_vKQ7TOPk

# cloudinary
CLOUDINARY_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

JWT_SECRET_KEY=asdfghjklqwertyuiopzxcvbnm
JWT_EXPIRES_IN=30d


NODE_ENV="local"